<html>
    <head>
        <title>Natália Nogueira blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Natália Nogueira Blog</a></h1>
        </div>

        <div>
            <p>published: 17.11.2015, 15:15</p>
            <h2><a href="">My first post</a></h2>
            <p>"Todo mundo tem dentro de si um fragmento de boas notícias. A boa notícia é que você não sabe quão extraordinário você pode ser! O quanto você pode amar! O que você pode executar! E qual é o seu potencial!" Anne Frank </p>
        </div>
     </body>
</html>